@import "@/scss/variables";

:root {
  // Global
  --lexend: "Lexend", sans-serif;
  --color: #ffffff;
  --background: #243046;

  // Header
  --header-border: #34425b;
  --header-nav-element-color: #7388ad;
  --header-nav-element-color-hover: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: $lexend;
  color: $color;
  background: $background;
}

a {
  text-decoration: none;
}

// #app {
//   display: grid;
//   grid-template-columns: 1200px;
//   grid-template-rows: auto 1fr auto;
//   justify-content: center;

//   @media (max-width: 640px) {
//     grid-template-columns: 320px;
//   }
// }

.btn {
  display: flex;
  min-width: 203px;
  min-height: 40px;
  border-radius: 26px;
  padding: 5px 20px;

  color: #FFFFFF;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 500;

  justify-content: center;
  align-items: center;
  text-align: center;

  background: #33435F;
  border: 1px solid #FFFFFF;
  transition: all .2s;

  &:hover {
    background: #365386;
  }

  &Red {
    padding: 15px 20px;
    background-color: #FF284A;
    
    &:hover {          
      background: #ff284888;
    }
  }
}

.container {
  min-width: 320px;
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;

  @media (max-width: 980px) {
    width: 100%;
    padding: 0 20px;
  }
}